<h1>dislikedMovies  </h1>

<ul>
    <li class="odd">Thor: Love and Thunder</li>
    <li class="even">Captain Marvel</li>
    <li class="odd">Ant Man and the wasp: Quantamania</li>
    <li class="even">she HULK</li>
</ul