<h1>List of Marvel Movies</h1>
<ul>
    <li class="odd">Iron man: 1</li>
    <li class="even">Iran man: 2</li>
    <li class="odd">SpinerMan: 1</li>
    <li class="even">Avanger: Infinity war</li>
    <li class="odd">SpinerMan: 2</li>
    <li class="even">Avanger: End game </li>
</ul